<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="itree.gef.DDB.Client.Properties.Settings.ConnectionString"
            connectionString="Data Source=G3011SRV150.gef.be.ch;Initial Catalog=DDB;Persist Security Info=false;Integrated Security=SSPI;packet size=4096;" />-->
    <!--add name="itree.gef.DDB.Client.Properties.Settings.ConnectionString"
            connectionString="Data Source=itreserv012\sql2008r2;Initial Catalog=DDB;Persist Security Info=True;Integrated Security=true;" /-->
    <add name="db" connectionString="Data Source=.;Initial Catalog=DDB;Persist Security Info=True;Integrated Security=true;" />
  </connectionStrings>
</configuration>